<br>
 <a href="generacion1.html" target="_blank">generacion1.html!</a> 
<br>
 <a href="generaion_2.html" target="_blank">generaion_2.html!</a> 
<br>
 <a href="generaion_3.html" target="_blank">generaion_3.html!</a> 
<br>
 <a href="generacion4.html" target="_blank">generacion4.html!</a> 
<br>
 <a href="generacion5.html" target="_blank">generacion5.html!</a> 
<br>
 <a href="generacion_6.html" target="_blank">generacion_6.html!</a> 
<br>

